
.war {color: rgb(199, 156, 110) !important; }
.paladin {color: rgb(245, 140, 186) !important; }
.hunter {color: rgb(169, 210, 113) !important; }
.rogue {color: rgb(245, 140, 186) !important; }
.priest {color: rgb(255, 255, 255) !important; }
.dk {color: rgb(196, 31, 59) !important; }
.shaman {color: rgb(0, 112, 222) !important; }
.mage {color: rgb(64, 199, 235) !important; }
.warlock {color: rgb(199, 156, 110) !important; }
.monk {color: rgb(0, 255, 150) !important; }
.druid {color: rgb(255, 125, 106) !important; }
.dh {color: rgb(163, 48, 201) !important; }

.war-bc {border-color: rgb(199, 156, 110) !important; }
.paladin-bc {border-color: rgb(245, 140, 186) !important; }
.hunter-bc {border-color: rgb(169, 210, 113) !important; }
.rogue-bc {border-color: rgb(245, 140, 186) !important; }
.priest-bc {border-color: rgb(255, 255, 255) !important; }
.dk-bc {border-color: rgb(196, 31, 59) !important; }
.shaman-bc {border-color: rgb(0, 112, 222) !important; }
.mage-bc {border-color: rgb(64, 199, 235) !important; }
.warlock-bc {border-color: rgb(199, 156, 110) !important; }
.monk-bc {border-color: rgb(0, 255, 150) !important; }
.druid-bc {border-color: rgb(255, 125, 106) !important; }
.dh-bc {border-color: rgb(163, 48, 201) !important; }

.war-bg {background-color: rgb(199, 156, 110) !important; }
.paladin-bg {background-color: rgb(245, 140, 186) !important; }
.hunter-bg {background-color: rgb(169, 210, 113) !important; }
.rogue-bg {background-color: rgb(245, 140, 186) !important; }
.priest-bg {background-color: rgb(255, 255, 255) !important; }
.dk-bg {background-color: rgb(196, 31, 59) !important; }
.shaman-bg {background-color: rgb(0, 112, 222) !important; }
.mage-bg {background-color: rgb(64, 199, 235) !important; }
.warlock-bg {background-color: rgb(199, 156, 110) !important; }
.monk-bg {background-color: rgb(0, 255, 150) !important; }
.druid-bg {background-color: rgb(255, 125, 106) !important; }
.dh-bg {background-color: rgb(163, 48, 201) !important; }

.spec-image {
    height: 20px;
}

.table {
    color: #d5d5d5;
}

.table-bordered {
    border: 1px solid #444444 !important;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #444444 !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #444444 !important;
    background-color: #111;
}

.table thead th {
    color: white !important;
}

.table th {
    color: white !important;
}

.table.b-table > thead > tr > [aria-sort="none"], .table.b-table > tfoot > tr > [aria-sort="none"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='grey' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}
